<h3>Installation</h3>
<p>
    The service is written in PHP 7.0.17 using Phalcon Framework 3.0.
</p>
<h4>Prerequisites</h4>
<ul>
    <li><a href="https://getcomposer.org/">Composer</a></li>
    <li><a href="https://phalconphp.com/en/download/linux">Phalcon 3.0 +</a></li>
    <li><a href="https://github.com/phalcon/phalcon-devtools">Phalcon Devtools</a></li>
</ul>

<h4>Database Configuration</h4>
<p>
    You can edit <code>app/config/config.php</code> for your configuration.
    You can also use project's cli tool to create new config file. The cli tool is named cli. You can run <code>./cli
        install</code> command in project folder and enter your database connection information. A config.php file will
    be generated.
</p>
<h4>Database Migration</h4>
<p>
    You'll need to use <a href="https://docs.phalconphp.com/en/3.0.1/reference/migrations.html">phalcon migration</a>
    tool with in order to migrate database.
    Simply run <code>phalcon migration run</code> command to migrate.
</p>

<h4>
    User Creation
</h4>
<p>
    You can use project's cli tool to create user. The cli tool is named cli. You can run <code>./cli user</code>
    command in project folder to create new user.
</p>

<h3>
    User Levels
</h3>
<p>There are 3 user levels.
<ul>
    <li>Admin</li>
    <li>Agency</li>
    <li>Consumer</li>
</ul>
</p>
<h3>Authorization</h3>
<p>
    Basic Access Authentication is used for authentication.
</p>
<p>
    The Authorization specifies the authentication mechanism (in this case Basic) followed by the username and password.
    Although, the string aHR0cHdhdGNoOmY= may look encrypted it is simply a base64 encoded version of
    &lt;username&gt;:
    &lt;password&gt;. In this example, the un-encoded string "httpwatch:foo" was used and would be readily available to
    anyone who could intercept the HTTP request.
</p>
<p>
    <a href="https://tools.ietf.org/html/rfc2617" target="_blank">RFC2617</a>
</p>

<h3>Request Format</h3>
<p>Requests Content-Type should either be <code>application/json</code> or
    <code>application/x-www-form-urlencoded</code>. </p>

<h3>Responses</h3>
<h4>200 OK</h4>
<p>The request has succeeded. The information returned with the response is dependent on the method used in the
    request.</p>

<h4>400 Bad Request</h4>
<p>The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request
    without modifications.</p>

<h4>401 Unauthorized</h4>
<p>
    The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47)
    containing a challenge applicable to the requested resource.
</p>

<h4>403 Forbidden</h4>
<p>The server understood the request, but is refusing to fulfill it. Authorization will not help and the request SHOULD
    NOT be repeated.</p>

<h4>405 Method Not Allowed</h4>
<p>The method specified in the Request-Line is not allowed for the resource identified by the Request-URI. The response
    MUST include an Allow header containing a list of valid methods for the requested resource.</p>

<h4>409 Conflict</h4>
<p>Indicates that the request could not be processed because of conflict in the request.</p>