<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Translation Service Documentation</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link
        href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic|Source+Code+Pro:400,700&subset=latin,latin-ext'
        rel='stylesheet' type='text/css'>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/service/">Translation Service</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="/service/translate">Translate </a></li>
                <li><a href="/service/waiting">Waiting </a></li>
                <li><a href="/service/user">User </a></li>
                <li><a href="/service/language">Language </a></li>
                <li><a href="/service/value">Value </a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/build/index.html">API Docs</a></li>
                <li><a href="/coverage/index.html">Code Coverage</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header"><?= $title ?></h1>
            <?= $this->getContent() ?>
            <?= $endpoint ? '<h3>Endpoint : ' . $endpoint . '</h3>' : '' ?>

            <?php foreach ($methods as $method => $data): ?>
                <h4><?= $method ?></h4>

                <?= $data['desc'] ? '<p>' . $data['desc'] . '</p>' : '' ?>

                <ul>
                    <li><?= $data['canAdmin'] ? 'Admin can perform this request.' : 'Admin cannot perform this request.' ?></li>
                    <li><?= $data['canAgency'] ? 'Agency can perform this request.' : 'Agency cannot perform this request.' ?></li>
                    <li><?= $data['canConsumer'] ? 'Consumer can perform this request.' : 'Consumer cannot perform this request.' ?></li>
                </ul>
                <?= $data['alert'] ? '<div class="alert alert-warning">' . $data['alert'] . '</div>' : '' ?>
                <?php if ($data['request']): ?>
                    <h5>Request</h5>
                    <pre><?= json_encode($data['request'], JSON_PRETTY_PRINT) ?></pre>
                <?php endif; ?>
                <?php if ($data['response']): ?>
                    <h5>Response</h5>
                    <pre><?= json_encode(json_decode($data['response']), JSON_PRETTY_PRINT) ?></pre>
                <?php endif; ?>

            <?php endforeach; ?>

        </div>
    </div>
</div>

</body>
</html>
